<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Friend List
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/tabs/tab1/form">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar
            color="warning"
            placeholder="Find your friends"
            cancelButtonText="Custom Cancel">
    </ion-searchbar>
  </ion-toolbar>
        <ion-list>

          <!-- kalau ini aktif, tab1nya error -->
          <!-- bagian create/add, delete, edit (tab1.page.ts sama tab1.service.ts) dihapus -->

<!--          <ion-item *ngFor="let friend of tab1">-->
<!--            <ion-label>{{friend.email}}</ion-label>-->
<!--            <ion-button routerLink="/tabs/tab1/edit/{{friend.key}}">EDIT</ion-button>-->
<!--            <ion-button (click)="delete($event, friend.key)">DELETE</ion-button>-->
<!--          </ion-item>-->

          <ion-item>YehezkielGunawan@gmail.com</ion-item>
          <ion-item>JamesChristianWira@gmail.com</ion-item>
          <ion-item>Steven Wijaya@gmail.com</ion-item>
          <ion-item>MatthewEvans@gmail.com</ion-item>
          <ion-item>SteveManumpil@gmail.com</ion-item>
          <ion-item>PatriciaDinda@gmail.com</ion-item>
        </ion-list>
</ion-content>
