<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Friend List
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="presentAdd()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar
            color="warning"
            placeholder="Find your friends"
            showCancelButton="focus"
            cancelButtonText="Custom Cancel">
    </ion-searchbar>
  </ion-toolbar>

  <!--  <ion-app>-->
  <!--    <ion-header translucent>-->
  <!--      <ion-toolbar>-->
  <!--        <ion-title>Searchbar</ion-title>-->
  <!--      </ion-toolbar>-->
  <!--      <ion-toolbar>-->
  <!--        <ion-searchbar></ion-searchbar>-->
  <!--      </ion-toolbar>-->
  <!--    </ion-header>-->
  <!--    <ion-content fullscreen>-->
  <!--      <ion-list>-->
  <!--        <ion-item>Yehezkiel Gunawan</ion-item>-->
  <!--        <ion-item>James Christian Wira</ion-item>-->
  <!--        <ion-item>Steven Wijaya</ion-item>-->
  <!--        <ion-item>Matthew Evans</ion-item>-->
  <!--        <ion-item>Steve Manumpil</ion-item>-->
  <!--        <ion-item>Patricia Dinda</ion-item>-->
  <!--      </ion-list>-->
  <!--    </ion-content>-->
  <!--  </ion-app>-->
</ion-content>
