<ion-content class="ion-padding">
  <div class="container">
    <ion-grid style="margin-bottom: 50px">
      <ion-col>
        <ion-row>
          <div class="ion-text-center" style="margin:auto">
            <h1 class="appName">
              <ion-text color="dark">Bukan</ion-text>
              <ion-text color="warning">Zenly</ion-text>
            </h1>
            <br />
            <ion-img src="https://image.flaticon.com/icons/png/512/816/816190.png"
                     class="iconImage">
            </ion-img>
          </div>
        </ion-row>
      </ion-col>
      <div class="ion-text-center">
        <ion-row>
          <ion-col>
            <ion-button
                    style="font-weight: bold"
                    size="medium" color="warning"
                    routerLink="/homes/logins">Get started</ion-button>
          </ion-col>
        </ion-row>
      </div>

    </ion-grid>
  </div>
</ion-content>
